@import 'tailwindcss';

@config "../../tailwind.config.js";

/* 处理 hero Modal size=full 时，强制覆盖 JS 注入到 html 标签上的内联样式 */
html {
  scrollbar-gutter: auto !important;
}

/* 自定义滚动条样式 */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
